<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}" />
    <script src="{{ url_for('static', filename='js/components/components.js') }}" type="module"></script>
    <title>{% block title %}{% endblock %} - Flex Zone</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>💪Flex Zone<span>💪</span></h1>
        {# Lägg till så användar-profil visas om man är inloggad #}
        <headerlogin-element></headerlogin-element>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
    </footer>
</body>
</html>