{% extends "base.html" %}
{% block title %}
  {% if username %}
    Edit user | {{username}}
  {% else %}
    Create user
  {% endif %}
{% endblock %}
{% block username %}{{username}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
  {% if username %}
    <h2>Edit user</h2>
  {% else %}
    <h2>Create user</h2>
  {% endif %}
  <createuser-element username="{{username}}">
  </createuser-element>
{# comment <article id="user_page">
  <section>
    <h2>Experiences</h2>
    <experiences-element userid="{{userid}}"></experiences-element>
    <createexperience-element userid="{{userid}}"></createexperience-element>
  </section>
  <section>
    <h2>Skills</h2>
    <skills-element userid="{{userid}}"></skills-element>
    <createskill-element userid="{{userid}}"></createskill-element>
  </section>
</article> #}
</section> 
{% endblock %}
