{% extends "base.html" %}
{% block title %}{{username}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
  <user-element userid="{{userid}}">
  </user-element>
</section> 
<article id="user_page">
  <section>
    <h2>Experiences</h2>
    <experiences-element userid="{{userid}}"></experiences-element>
    <createexperience-element userid="{{userid}}"></createexperience-element>
  </section>
  <section>
    <h2>Skills</h2>
    <skills-element userid="{{userid}}"></skills-element>
    <createskill-element userid="{{userid}}"></createskill-element>
  </section>
</article>
{% endblock %}