{% extends "base.html" %}
{% block title %}{{name}}{% endblock %}
{% block username %}{{username}}{% endblock %}
{% block logged_in_as%}{{logged_in_as}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
  <user-element username="{{username}}">
  </user-element>
</section> 
<article id="user_page">
  <section>
    <h2>Experiences</h2>
    <experiences-element username="{{username}}" logged_in_as={{logged_in_as}}></experiences-element>
  </section>
  <section>
    <h2>Skills</h2>
    <skills-element username="{{username}}" logged_in_as={{logged_in_as}}></skills-element>
  </section>
</article>
{% endblock %}