$layout-breakpoint-medium: 1010px;

body{
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  padding: 32px;
}

header{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(247, 247, 247);
}

h1 {
  padding: 16px 32px;
  font-size: 2em;
  a{
    text-decoration: none;
    color: inherit;
    .right {
      display: inline-block;
      transform: scale(-1, 1);
      transition: transform 100ms ease-in-out;
    }
    .left{
      display: inline-block;
      transition: transform 100ms ease-in-out;
    }
    &:visited{
      color: inherit;
    }
    &:hover .left{
      transform:rotate(40deg) translateY(-6px) scale(1.2);
    }
    &:hover .right{
      transform:rotate(-40deg) translateY(-6px) scale(-1.2, 1.2);
    }
  }
}

h2 {
  font-size: 1.4em;
  margin: 16px 0;
}

h3 {
  font-size: 1.2em;
}

headerlogin-element{
  display: flex;
  justify-content: flex-end;
}

#user_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f 1fr;
  // column-gap: 16px;
  @media (max-width: $layout-breakpoint-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  section {
    // border: 1px solid darkgray;
    background-color: #f8f7f7;
    padding: 8px;
    margin: 8px;
    border: 1px solid lightgrey;
    &:last-child{
      grid-column-start: 1;
      grid-column-end: 4;
      @media (max-width: $layout-breakpoint-medium) {
        grid-column-start: initial;
        grid-column-end: initial;
      }
    }
  }
}
